@import url('https://fonts.googleapis.com/css?family=Cantarell|Cuprum|Orbitron|Sacramento|Jost|Courgette|Monda|ABeeZee|Rajdhani|Asap|Overpass|Questrial|Padauk|Comfortaa|Quicksand|Sofia|Ubuntu|Nunito|Titillium WebExo 2|Cormorant Garamond|Slabo 27px|Hind Madurai|Maven Pro|Barlow Semi Condensed|Ubuntu Condensed|Alegreya Sans|Baloo 2|Balsamiq Sans|Saira Condensed|Kaushan Script|Lobster Two|IBM Plex Mono|Chakra Petch|Asap Condensed&effect=fire|neon|outline|emboss|shadow-multiple|fire-animation|3d|3d-float|anaglyph');


:root {
    --color_primary  : #3457f7;
    --color_secondary: #bcbcbc;
    --color_warning  : #ffc123;
    --color_danger   : #ff5125;
    --color_success  : #18f023;
    --color_message  : #8b4000;
    --color_info     : #2fbdff;
    --color_dark     : #242424;
    --color_light    : #fcfcfc;
    --color_white    : #fff;

    --color_blue1: #003fff;
    --color_blue2: #007fff;
    --color_blue3: #10289E;

    --color_royal      : #9d0aff;
    --color_royal_light: #c782ff;
    --color_royal_dark : #6f189e;

    --color_royal_red     : #9b1c31;
    --color_royal_red_dark: #71100f;

    --color_royal_green     : #136207;
    --color_royal_green_dark: #094507;

    --color_royal_blue     : #4169e1;
    --color_royal_blue_dark: #002366;

    --color_royal_yellow     : #ffbd1b;
    --color_royal_yellow_dark: #f9a602;

    --color_royal_orange     : #f9842c;
    --color_royal_orange_dark: #f96b00;


    --size0 : 0px;
    --size1 : 0.2em;
    --size2 : 0.4em;
    --size3 : 0.6em;
    --size4 : 0.8em;
    --size5 : 1em;
    --size6 : 1.2em;
    --size7 : 1.45em;
    --size8 : 1.7em;
    --size9 : 2em;
    --size10: 3em;
    --size11: 4em;
    --size12: 5em;

    --col1 : 8.333333333333334%;
    --col2 : 16.666666666666668%;
    --col3 : 25%;
    --col4 : 33.333333333333336%;
    --col5 : 41.66666666666667%;
    --col6 : 50.00000000000001%;
    --col7 : 58.33333333333334%;
    --col8 : 66.66666666666667%;
    --col9 : 75%;
    --col10: 83.33333333333333%;
    --col11: 91.66666666666666%;
    --col12: 100%;

    --size_h0: 2.5em;
    --size_h1: 2em;
    --size_h2: 1.5em;
    --size_h3: 1.17em;
    --size_h4: 1em;
    --size_h5: 0.83em;
    --size_h6: 0.67em;

    --border_size : 1.6px;
    --border_size1: 2.6px;
    --border_size2: 4px;
    --border_size3: 6px;
    --border_size4: 8px;
    --border_size5: 12px;

    --navbar-height: 4.5rem;
}

* {
    padding   : 0;
    margin    : 0;
    box-sizing: border-box;
}

/* screen */
/* *************************************************** */

@media (max-width: 576px) {}

@media (min-width: 576px) {}

@media (min-width: 768px) {}

@media (min-width: 992px) {}

@media (min-width: 1200px) {}

/* *************************************************** */


/* row flexbox grid */
/* --------------------------------------------------- */

.row {
    display      : flex;
    flex-wrap    : wrap;
    align-items  : flex-start;
    align-content: center;
}

.col,
.col1 {
    width: var(--col1);
}

.col2 {
    width: var(--col2);
}

.col3 {
    width: var(--col3);
}

.col4 {
    width: var(--col4);
}

.col5 {
    width: var(--col5);
}

.col6 {
    width: var(--col6);
}

.col7 {
    width: var(--col7);
}

.col8 {
    width: var(--col8);
}

.col9 {
    width: var(--col9);
}

.col10 {
    width: var(--col10);
}

.col11 {
    width: var(--col11);
}

.col12 {
    width: var(--col12);
}

.col,
.col1,
.col_sm1,
.col_md1,
.col_lg1,
.col_xl1,
.col2,
.col_sm2,
.col_md2,
.col_lg2,
.col_xl2,
.col3,
.col_sm3,
.col_md3,
.col_lg3,
.col_xl3,
.col4,
.col_sm4,
.col_md4,
.col_lg4,
.col_xl4,
.col5,
.col_sm5,
.col_md5,
.col_lg5,
.col_xl5,
.col6,
.col_sm6,
.col_md6,
.col_lg6,
.col_xl6,
.col7,
.col_sm7,
.col_md7,
.col_lg7,
.col_xl7,
.col8,
.col_sm8,
.col_md8,
.col_lg8,
.col_xl8,
.col9,
.col_sm9,
.col_md9,
.col_lg9,
.col_xl9,
.col10,
.col_sm10,
.col_md10,
.col_lg10,
.col_xl10,
.col11,
.col_sm11,
.col_md11,
.col_lg11,
.col_xl11,
.col12,
.col_sm12,
.col_md12,
.col_lg12,
.col_xl12 {
    padding: 2px 15px;
}

/*xs*/
@media (max-width: 576px) {

    .col_sm1,
    .col_md1,
    .col_lg1,
    .col_xl1,
    .col_sm2,
    .col_md2,
    .col_lg2,
    .col_xl2,
    .col_sm3,
    .col_md3,
    .col_lg3,
    .col_xl3,
    .col_sm4,
    .col_md4,
    .col_lg4,
    .col_xl4,
    .col_sm5,
    .col_md5,
    .col_lg5,
    .col_xl5,
    .col_sm6,
    .col_md6,
    .col_lg6,
    .col_xl6,
    .col_sm7,
    .col_md7,
    .col_lg7,
    .col_xl7,
    .col_sm8,
    .col_md8,
    .col_lg8,
    .col_xl8,
    .col_sm9,
    .col_md9,
    .col_lg9,
    .col_xl9,
    .col_sm10,
    .col_md10,
    .col_lg10,
    .col_xl10,
    .col_sm11,
    .col_md11,
    .col_lg11,
    .col_xl11,
    .col_sm12,
    .col_md12,
    .col_lg12,
    .col_xl12 {
        width: 100%;
    }

    .col,
    .col1 {
        width: var(--col1);
    }

    .col2 {
        width: var(--col2);
    }

    .col3 {
        width: var(--col3);
    }

    .col4 {
        width: var(--col4);
    }

    .col5 {
        width: var(--col5);
    }

    .col6 {
        width: var(--col6);
    }

    .col7 {
        width: var(--col7);
    }

    .col8 {
        width: var(--col8);
    }

    .col9 {
        width: var(--col9);
    }

    .col10 {
        width: var(--col10);
    }

    .col11 {
        width: var(--col11);
    }

    .col12 {
        width: var(--col12);
    }
}

/*sm*/
@media (min-width: 576px) {

    .col_sm,
    .col_sm1 {
        width: var(--col1);
    }

    .col_sm2 {
        width: var(--col2);
    }

    .col_sm3 {
        width: var(--col3);
    }

    .col_sm4 {
        width: var(--col4);
    }

    .col_sm5 {
        width: var(--col5);
    }

    .col_sm6 {
        width: var(--col6);
    }

    .col_sm7 {
        width: var(--col7);
    }

    .col_sm8 {
        width: var(--col8);
    }

    .col_sm9 {
        width: var(--col9);
    }

    .col_sm10 {
        width: var(--col10);
    }

    .col_sm11 {
        width: var(--col11);
    }

    .col_sm12 {
        width: var(--col12);
    }
}

/*md*/
@media (min-width: 768px) {

    .col_sm,
    .col_md1 {
        width: var(--col1);
    }

    .col_md2 {
        width: var(--col2);
    }

    .col_md3 {
        width: var(--col3);
    }

    .col_md4 {
        width: var(--col4);
    }

    .col_md5 {
        width: var(--col5);
    }

    .col_md6 {
        width: var(--col6);
    }

    .col_md7 {
        width: var(--col7);
    }

    .col_md8 {
        width: var(--col8);
    }

    .col_md9 {
        width: var(--col9);
    }

    .col_md10 {
        width: var(--col10);
    }

    .col_md11 {
        width: var(--col11);
    }

    .col_md12 {
        width: var(--col12);
    }
}

/*lg*/
@media (min-width: 992px) {

    .col_lg,
    .col_lg1 {
        width: var(--col1);
    }

    .col_lg2 {
        width: var(--col2);
    }

    .col_lg3 {
        width: var(--col3);
    }

    .col_lg4 {
        width: var(--col4);
    }

    .col_lg5 {
        width: var(--col5);
    }

    .col_lg6 {
        width: var(--col6);
    }

    .col_lg7 {
        width: var(--col7);
    }

    .col_lg8 {
        width: var(--col8);
    }

    .col_lg9 {
        width: var(--col9);
    }

    .col_lg10 {
        width: var(--col10);
    }

    .col_lg11 {
        width: var(--col11);
    }

    .col_lg12 {
        width: var(--col12);
    }
}

/*xl*/
@media (min-width: 1200px) {

    .col_xl,
    .col_xl1 {
        width: var(--col1);
    }

    .col_xl2 {
        width: var(--col2);
    }

    .col_xl3 {
        width: var(--col3);
    }

    .col_xl4 {
        width: var(--col4);
    }

    .col_xl5 {
        width: var(--col5);
    }

    .col_xl6 {
        width: var(--col6);
    }

    .col_xl7 {
        width: var(--col7);
    }

    .col_xl8 {
        width: var(--col8);
    }

    .col_xl9 {
        width: var(--col9);
    }

    .col_xl10 {
        width: var(--col10);
    }

    .col_xl11 {
        width: var(--col11);
    }

    .col_xl12 {
        width: var(--col12);
    }
}

/* --------------------------------------------------- */


/* navbar */
/* =================================================== */

.navbar-sticky {
    position: sticky;
    top     : 0;
}

.navbar-fixed {
    position: fixed;
    top     : 0;
    left    : 0;
    right   : 0;
}

.navbar {
    display        : flex;
    flex-direction : row;
    flex-wrap      : wrap;
    justify-content: space-around;
    align-items    : center;

    z-index: 1000;
    width  : 100%;
    height : var(--navbar-height);

    background-color: var(--color_dark);
    font-family     : -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size       : 1.2rem;
    transition      : all 0.4s;
}

.navbar_center {
    justify-content: center;
}

.navbar_start {
    justify-content: flex-start;
    padding        : 0 1rem;
}

.navbar_end {
    justify-content: flex-end;
    padding        : 0 1rem;
}

.navbar_space_between {
    justify-content: space-between;
    padding        : 0 1rem;
}

.navbar_space_around {
    justify-content: space-around;
}

.navbar_space_evenly {
    justify-content: space-evenly;
}

.navbar_sm {
    height   : 2rem;
    font-size: 1rem;
}

.navbar_lg {
    height: 5.5rem;
}

.navbar-shadow {
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
}

.navbar-shadow-small {
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

.navbar-shadow-big,
.navbar-shadow-large {
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.2);
}

.navbar .navbar-logo {
    color         : var(--color_white);
    font-size     : 1.5rem;
    letter-spacing: 2px;
    font-weight   : 500;
}

.navbar_sm .navbar-logo {
    font-size: 1.2rem;
}

.navbar_lg .navbar-logo {
    font-size: 1.9rem;
}

.navbar .navbar-logo a {
    color          : var(--color_white);
    text-decoration: none;
    transition     : all 0.4s;
    padding        : 0 10px;
}

.navbar .navbar-logo a:hover {
    font-weight   : bold;
    letter-spacing: 2.5px;
}

.navbar label {
    color      : var(--color_white);
    cursor     : pointer;
    font-weight: 500;
    font-size  : 2.4rem;
    padding    : 0 10px;
    display    : none;

    transition: all ease-in-out 0.4s;
}

.navbar_sm label {
    font-weight: bold;
    font-size  : 1.7rem;
    line-height: 10px;
}

.navbar_lg label {
    font-size: 3rem;
}

.navbar label::before {
    content: '≡';
}

.navbar label:hover {
    font-size: 2.6rem;
}

.navbar_sm label:hover {
    font-size: 1.8rem;
}

.navbar_lg label:hover {
    font-size: 3.2rem;
}

.navbar input[type=checkbox] {
    display: none;
}

.navbar .navbar-items {
    display       : flex;
    flex-direction: row;
    height        : 3.3rem;
}

.navbar_sm .navbar-items {
    height: 1.5rem;
}

.navbar_lg .navbar-items {
    height: 4.4rem;
}

.navbar .navbar-items .navbar-item {
    position: relative;

    display    : flex;
    align-items: center;

    height : inherit;
    padding: 0 10px;
    margin : auto 1px;

    text-decoration: none;
    color          : var(--color_white);
    border-radius  : 5px;
    transition     : all 0.4s;
}

.navbar .navbar-items .navbar-active {
    background-color: rgba(0, 0, 0, 0.2) !important;
}

.bg_dark .navbar-active {
    background-color: rgba(0, 0, 0, 0.4) !important;
}

.navbar-active-bold {
    font-weight   : bold !important;
    letter-spacing: 2px !important;
}

.navbar .navbar-items .navbar-item:hover {
    background-color: rgba(0, 0, 0, 0.4);
}

.bg_dark .navbar-items .navbar-item:hover {
    background-color: rgba(0, 0, 0, 1);

}

/*animation 1 starts*/
.navbar .navbar_animated1 .navbar-item::after,
.navbar .navbar_animated1-bottom .navbar-item::after {
    content         : '';
    display         : block;
    height          : 3px;
    background      : rgba(255, 255, 255, 0.4);
    position        : absolute;
    bottom          : -5px;
    left            : 0px;
    right           : 0%;
    transform-origin: left;
    transform       : scale(0, 1);
    transition      : ease-in-out 500ms;
    border-radius   : 50%;

}

.navbar .navbar_animated1 .navbar-item:hover::after,
.navbar .navbar_animated1-bottom .navbar-item:hover::after {
    transform: scale(1, 1);
}

.navbar .navbar_animated1 .navbar-item::before,
.navbar .navbar_animated1-top .navbar-item::before {
    content         : '';
    display         : block;
    height          : 3px;
    background      : rgba(255, 255, 255, 0.4);
    position        : absolute;
    top             : -5px;
    left            : 0;
    right           : 0;
    transform-origin: right;
    transform       : scale(0, 1);
    transition      : ease-in-out 500ms;
    border-radius   : 50%;

}

.navbar .navbar_animated1 .navbar-item:hover::before,
.navbar .navbar_animated1-top .navbar-item:hover::before {
    transform: scale(1, 1);
}

/*animation ends*/

@media screen and (max-width: 768px) {
    .navbar {
        justify-content: space-between;
        padding        : 0 2rem 0px var(--navbar-height);
    }

    .navbar label {
        display: block;
    }

    .navbar .navbar-items {
        display : block;
        position: fixed;

        top  : -100%;
        right: -100%;
        /*top: var(--navbar-height);
        right: -100%;*/
        /*top: 100%;
        left : 0;*/

        width  : 100%;
        height : 100vh;
        padding: 2px 0;

        background-color: rgb(37, 35, 35);
        transition      : all 0.4s;
    }


    .navbar .navbar-items .navbar-item {
        justify-content: center;
        text-align     : center;
        height         : var(--navbar-height);
        border-radius  : 0;
    }

    .navbar_sm .navbar-items .navbar-item {
        height: 3rem;
    }

    .navbar_lg .navbar-items .navbar-item {
        height: 4.5rem;
    }

    .navbar input:checked~.navbar-items {
        top    : var(--navbar-height);
        right  : 0%;
        /*right: 0;*/
        /*top  : var(--navbar-height);*/
    }

    .navbar_sm input:checked~.navbar-items {
        top: 2rem;
    }

    .navbar_lg input:checked~.navbar-items {
        top: 5.5rem;
    }

    .navbar input:checked~label::before {
        content   : "⨉";
        font-size : 2rem;
        transition: all ease-in-out 0.5s;
    }

    .navbar_sm input:checked~label::before {
        font-size: 1.3rem;
    }

    .navbar_lg input:checked~label::before {
        font-size  : 2rem;
        line-height: 4.5rem;
    }

    .navbar input:checked~.red-cross::before {
        color: red;
    }

    .navbar-item-active {
        margin-top: 5px;
    }


    .navbar_responsive_bg_primary {
        background-color: var(--color_primary) !important;
    }

    .navbar_responsive_bg_secondary {
        background-color: var(--color_secondary) !important;
    }

    .navbar_responsive_bg_warning {
        background-color: var(--color_warning) !important;
    }

    .navbar_responsive_bg_danger {
        background-color: var(--color_danger) !important;
    }

    .navbar_responsive_bg_success {
        background-color: var(--color_success) !important;
    }

    .navbar_responsive_bg_message {
        background-color: var(--color_message) !important;
    }

    .navbar_responsive_bg_info {
        background-color: var(--color_info) !important;
    }

    .navbar_responsive_bg_dark {
        background-color: var(--color_dark) !important;
    }

    .navbar_responsive_bg_light {
        background-color: var(--color_light) !important;
    }

    .navbar_responsive_bg_white {
        background-color: var(--color_white) !important;
    }

    .navbar_responsive_bg_blue1 {
        background-color: var(--color_blue1) !important;
    }

    .navbar_responsive_bg_blue2 {
        background-color: var(--color_blue2) !important;
    }

    .navbar_responsive_bg_blue3 {
        background-color: var(--color_blue3) !important;
    }

    .navbar_responsive_bg_royal {
        background-color: var(--color_royal) !important;
    }

    .navbar_responsive_bg_royal_light {
        background-color: var(--color_royal_light) !important;
    }

    .navbar_responsive_bg_royal_dark {
        background-color: var(--color_royal_dark) !important;
    }

    .navbar_responsive_bg_royal_red {
        background-color: var(--color_royal_red) !important;
    }

    .navbar_responsive_bg_royal_red_dark {
        background-color: var(--color_royal_red_dark) !important;
    }

    .navbar_responsive_bg_royal_green {
        background-color: var(--color_royal_green) !important;
    }

    .navbar_responsive_bg_royal_green_dark {
        background-color: var(--color_royal_green_dark) !important;
    }

    .navbar_responsive_bg_royal_blue {
        background-color: var(--color_royal_blue) !important;
    }

    .navbar_responsive_bg_royal_blue_dark {
        background-color: var(--color_royal_blue_dark) !important;
    }

    .navbar_responsive_bg_royal_yellow {
        background-color: var(--color_royal_yellow) !important;
    }

    .navbar_responsive_bg_royal_yellow_dark {
        background-color: var(--color_royal_yellow_dark) !important;
    }

    .navbar_responsive_bg_royal_orange {
        background-color: var(--color_royal_orange) !important;
    }

    .navbar_responsive_bg_royal_orange_dark {
        background-color: var(--color_royal_orange_dark) !important;
    }

    /*  */

    .navbar_active_bg_primary {
        margin-top: 5px !important;
    }

    .navbar_active_bg_secondary {
        margin-top: 5px !important;
    }

    .navbar_active_bg_warning {
        margin-top: 5px !important;
    }

    .navbar_active_bg_danger {
        margin-top: 5px !important;
    }

    .navbar_active_bg_success {
        margin-top: 5px !important;
    }

    .navbar_active_bg_message {
        margin-top: 5px !important;
    }

    .navbar_active_bg_info {
        margin-top: 5px !important;
    }

    .navbar_active_bg_dark {
        margin-top: 5px !important;
    }

    .navbar_active_bg_light {
        margin-top: 5px !important;
    }

    .navbar_active_bg_white {
        margin-top: 5px !important;
    }

    .navbar_active_bg_blue1 {
        margin-top: 5px !important;
    }

    .navbar_active_bg_blue2 {
        margin-top: 5px !important;
    }

    .navbar_active_bg_blue3 {
        margin-top: 5px !important;
    }

    .navbar_active_bg_royal {
        margin-top: 5px !important;
    }

    .navbar_active_bg_royal_light {
        margin-top: 5px !important;
    }

    .navbar_active_bg_royal_dark {
        margin-top: 5px !important;
    }

    .navbar_active_bg_royal_red {
        margin-top: 5px !important;
    }

    .navbar_active_bg_royal_red_dark {
        margin-top: 5px !important;
    }

    .navbar_active_bg_royal_green {
        margin-top: 5px !important;
    }

    .navbar_active_bg_royal_green_dark {
        margin-top: 5px !important;
    }

    .navbar_active_bg_royal_blue {
        margin-top: 5px !important;
    }

    .navbar_active_bg_royal_blue_dark {
        margin-top: 5px !important;
    }

    .navbar_active_bg_royal_yellow {
        margin-top: 5px !important;
    }

    .navbar_active_bg_royal_yellow_dark {
        margin-top: 5px !important;
    }

    .navbar_active_bg_royal_orange {
        margin-top: 5px !important;
    }

    .navbar_active_bg_royal_orange_dark {
        margin-top: 5px !important;
    }
}

@media screen and (max-width: 376px) {
    .navbar {
        justify-content: space-between;
        padding        : 0 1rem 0px 2rem;
    }
}


/* =================================================== */



/* font */
/* --------------------------------------------------- */
.font1 {
    font-family: 'Cantarell';
}

.font2 {
    font-family: 'Cuprum';
}

.font3 {
    font-family: 'Orbitron';
}

.font4 {
    font-family: 'Sacramento';
}

.font5 {
    font-family: 'Jost';
}

.font6 {
    font-family: 'Courgette';
}

.font7 {
    font-family: 'Monda';
}

.font8 {
    font-family: 'ABeeZee';
}

.font9 {
    font-family: 'Rajdhani';
}

.font10 {
    font-family: 'Asap';
}

.font11 {
    font-family: 'Overpass';
}

.font12 {
    font-family: 'Questrial';
}

.font13 {
    font-family: 'Padauk';
}

.font14 {
    font-family: 'Comfortaa';
}

.font15 {
    font-family: 'Quicksand';
}

.font16 {
    font-family: 'Sofia';
}

.font17 {
    font-family: 'Ubuntu';
}

.font18 {
    font-family: 'Nunito';
}

.font19 {
    font-family: 'Titillium WebExo 2';
}

.font20 {
    font-family: 'Cormorant Garamond';
}

.font21 {
    font-family: 'Slabo 27px';
}

.font22,
.font {
    font-family: 'Hind Madurai';
}

.font23 {
    font-family: 'Maven Pro';
}

.font24 {
    font-family: 'Barlow Semi Condensed';
}

.font25 {
    font-family: 'Ubuntu Condensed';
}

.font26 {
    font-family: 'Alegreya Sans';
}

.font27 {
    font-family: 'Baloo 2';
}

.font28 {
    font-family: 'Balsamiq Sans';
}

.font29 {
    font-family: 'Saira Condensed';
}

.font30 {
    font-family: 'Kaushan Script';
}

.font31 {
    font-family: 'Lobster Two';
}

.font32 {
    font-family: 'IBM Plex Mono';
}

.font33 {
    font-family: 'Chakra Petch';
}

.font34 {
    font-family: 'Asap Condensed';
}

/* --------------------------------------------------- */


/* headers */
/* =================================================== */
.h0 {
    display     : block;
    font-size   : var(--size_h0);
    margin-left : 0;
    margin-right: 0;
    font-weight : bold;
}

.h1 {
    display     : block;
    font-size   : var(--size_h1);
    margin-left : 0;
    margin-right: 0;
    font-weight : bold;
}

.h2 {
    display     : block;
    font-size   : var(--size_h2);
    margin-left : 0;
    margin-right: 0;
    font-weight : bold;
}

.h3 {
    display     : block;
    font-size   : var(--size_h3);
    margin-left : 0;
    margin-right: 0;
    font-weight : bold;
}

.h4 {
    display     : block;
    font-size   : var(--size_h4);
    margin-left : 0;
    margin-right: 0;
    font-weight : bold;
}

.h5 {
    display     : block;
    font-size   : var(--size_h5);
    margin-left : 0;
    margin-right: 0;
    font-weight : bold;
}

.h6 {
    display     : block;
    font-size   : var(--size_h6);
    margin-left : 0;
    margin-right: 0;
    font-weight : bold;
}

/* =================================================== */


/* background color */
/* --------------------------------------------------- */
.bg_primary,
.navbar_active_bg_primary,
.navbar_hover_bg_primary .navbar-item:hover {
    background-color: var(--color_primary) !important;
}

.bg_secondary,
.navbar_active_bg_secondary,
.navbar_hover_bg_secondary .navbar-item:hover {
    background-color: var(--color_secondary) !important;
}

.bg_warning,
.navbar_active_bg_warning,
.navbar_hover_bg_warning .navbar-item:hover {
    background-color: var(--color_warning) !important;
}

.bg_danger,
.navbar_active_bg_danger,
.navbar_hover_bg_danger .navbar-item:hover {
    background-color: var(--color_danger) !important;
}

.bg_success,
.navbar_active_bg_success,
.navbar_hover_bg_success .navbar-item:hover {
    background-color: var(--color_success) !important;
}

.bg_message,
.navbar_active_bg_message,
.navbar_hover_bg_message .navbar-item:hover {
    background-color: var(--color_message) !important;
}

.bg_info,
.navbar_active_bg_info,
.navbar_hover_bg_info .navbar-item:hover {
    background-color: var(--color_info) !important;
}

.bg_dark,
.navbar_active_bg_dark,
.navbar_hover_bg_dark .navbar-item:hover {
    background-color: var(--color_dark) !important;
}

.bg_light,
.navbar_active_bg_light,
.navbar_hover_bg_light .navbar-item:hover {
    background-color: var(--color_light) !important;
}

.bg_white,
.navbar_active_bg_white,
.navbar_hover_bg_white .navbar-item:hover {
    background-color: var(--color_white) !important;
}

.bg_blue1,
.navbar_active_bg_blue1,
.navbar_hover_bg_blue1 .navbar-item:hover {
    background-color: var(--color_blue1) !important;
}

.bg_blue2,
.navbar_active_bg_blue2,
.navbar_hover_bg_blue2 .navbar-item:hover {
    background-color: var(--color_blue2) !important;
}

.bg_blue3,
.navbar_active_bg_blue3,
.navbar_hover_bg_blue3 .navbar-item:hover {
    background-color: var(--color_blue3) !important;
}

.bg_royal,
.navbar_active_bg_royal,
.navbar_hover_bg_royal .navbar-item:hover {
    background-color: var(--color_royal) !important;
}

.bg_royal_light,
.navbar_active_bg_royal_light,
.navbar_hover_bg_royal_light .navbar-item:hover {
    background-color: var(--color_royal_light) !important;
}

.bg_royal_dark,
.navbar_active_bg_royal_dark,
.navbar_hover_bg_royal_dark .navbar-item:hover {
    background-color: var(--color_royal_dark) !important;
}

.bg_royal_red,
.navbar_active_bg_royal_red,
.navbar_hover_bg_royal_red .navbar-item:hover {
    background-color: var(--color_royal_red) !important;
}

.bg_royal_red_dark,
.navbar_active_bg_royal_red_dark,
.navbar_hover_bg_royal_red_dark .navbar-item:hover {
    background-color: var(--color_royal_red_dark) !important;
}

.bg_royal_green,
.navbar_active_bg_royal_green,
.navbar_hover_bg_royal_green .navbar-item:hover {
    background-color: var(--color_royal_green) !important;
}

.bg_royal_green_dark,
.navbar_active_bg_royal_green_dark,
.navbar_hover_bg_royal_green_dark .navbar-item:hover {
    background-color: var(--color_royal_green_dark) !important;
}

.bg_royal_blue,
.navbar_active_bg_royal_blue,
.navbar_hover_bg_royal_blue .navbar-item:hover {
    background-color: var(--color_royal_blue) !important;
}

.bg_royal_blue_dark,
.navbar_active_bg_royal_blue_dark,
.navbar_hover_bg_royal_blue_dark .navbar-item:hover {
    background-color: var(--color_royal_blue_dark) !important;
}

.bg_royal_yellow,
.navbar_active_bg_royal_yellow,
.navbar_hover_bg_royal_yellow .navbar-item:hover {
    background-color: var(--color_royal_yellow) !important;
}

.bg_royal_yellow_dark,
.navbar_active_bg_royal_yellow_dark,
.navbar_hover_bg_royal_yellow_dark .navbar-item:hover {
    background-color: var(--color_royal_yellow_dark) !important;
}

.bg_royal_orange,
.navbar_active_bg_royal_orange,
.navbar_hover_bg_royal_orange .navbar-item:hover {
    background-color: var(--color_royal_orange) !important;
}

.bg_royal_orange_dark,
.navbar_active_bg_royal_orange_dark,
.navbar_hover_bg_royal_orange_dark .navbar-item:hover {
    background-color: var(--color_royal_orange_dark) !important;
}

/* --------------------------------------------------- */


/* text color */
/* =================================================== */
.text_primary {
    color: var(--color_primary) !important;
}

.text_secondary {
    color: var(--color_secondary) !important;
}

.text_warning {
    color: var(--color_warning) !important;
}

.text_danger {
    color: var(--color_danger) !important;
}

.text_success {
    color: var(--color_success) !important;
}

.text_message {
    color: var(--color_message) !important;
}

.text_info {
    color: var(--color_info) !important;
}

.text_dark {
    color: var(--color_dark) !important;
}

.text_light {
    color: var(--color_light) !important;
}

.text_white {
    color: var(--color_white) !important;
}

.text_blue1 {
    color: var(--color_blue1) !important;
}

.text_blue2 {
    color: var(--color_blue2) !important;
}

.text_blue3 {
    color: var(--color_blue3) !important;
}

.text_royal {
    color: var(--color_royal) !important;
}

.text_royal_light {
    color: var(--color_royal_light) !important;
}

.text_royal_dark {
    color: var(--color_royal_dark) !important;
}

.text_royal_red {
    color: var(--color_royal_red) !important;
}

.text_royal_red_dark {
    color: var(--color_royal_red_dark) !important;
}

.text_royal_green {
    color: var(--color_royal_green) !important;
}

.text_royal_green_dark {
    color: var(--color_royal_green_dark) !important;
}

.text_royal_blue {
    color: var(--color_royal_blue) !important;
}

.text_royal_blue_dark {
    color: var(--color_royal_blue_dark) !important;
}

.text_royal_yellow {
    color: var(--color_royal_yellow) !important;
}

.text_royal_yellow_dark {
    color: var(--color_royal_yellow_dark) !important;
}

.text_royal_orange {
    color: var(--color_royal_orange) !important;
}

.text_royal_orange_dark {
    color: var(--color_royal_orange_dark) !important;
}

/* =================================================== */


/* border color */
/* --------------------------------------------------- */
.border_primary {
    border: solid var(--color_primary);
}

.border_secondary {
    border: solid var(--color_secondary);
}

.border_warning {
    border: solid var(--color_warning);
}

.border_danger {
    border: solid var(--color_danger);
}

.border_success {
    border: solid var(--color_success);
}

.border_message {
    border: solid var(--color_message);
}

.border_info {
    border: solid var(--color_info);
}

.border_dark {
    border: solid var(--color_dark);
}

.border_light {
    border: solid var(--color_light);
}

.border_white {
    border: solid var(--color_white);
}

.border_blue1 {
    border: solid var(--color_blue1);
}

.border_blue2 {
    border: solid var(--color_blue2);
}

.border_blue3 {
    border: solid var(--color_blue3);
}

.border_royal {
    border: solid var(--color_royal);
}

.border_royal_light {
    border: solid var(--color_royal_light);
}

.border_royal_dark {
    border: solid var(--color_royal_dark);
}

.border_royal_red {
    border: solid var(--color_royal_red);
}

.border_royal_red_dark {
    border: solid var(--color_royal_red_dark);
}

.border_royal_green {
    border: solid var(--color_royal_green);
}

.border_royal_green_dark {
    border: solid var(--color_royal_green_dark);
}

.border_royal_blue {
    border: solid var(--color_royal_blue);
}

.border_royal_blue_dark {
    border: solid var(--color_royal_blue_dark);
}

.border_royal_yellow {
    border: solid var(--color_royal_yellow);
}

.border_royal_yellow_dark {
    border: solid var(--color_royal_yellow_dark);
}

.border_royal_orange {
    border: solid var(--color_royal_orange);
}

.border_royal_orange_dark {
    border: solid var(--color_royal_orange_dark);
}

/* border */
.border {
    border-width: var(--border_size);
}

.border1 {
    border-width: var(--border_size1);
}

.border2 {
    border-width: var(--border_size2);
}

.border3 {
    border-width: var(--border_size3);
}

.border4 {
    border-width: var(--border_size4);
}

.border5 {
    border-width: var(--border_size5);
}

/* border left */
.border_l {
    border-left-width: var(--border_size);
}

.border_l1 {
    border-left-width: var(--border_size1);
}

.border_l2 {
    border-left-width: var(--border_size2);
}

.border_l3 {
    border-left-width: var(--border_size3);
}

.border_l4 {
    border-left-width: var(--border_size4);
}

.border_l5 {
    border-left-width: var(--border_size5);
}

/* border right */
.border_r {
    border-right-width: var(--border_size);
}

.border_r1 {
    border-right-width: var(--border_size1);
}

.border_r2 {
    border-right-width: var(--border_size2);
}

.border_r3 {
    border-right-width: var(--border_size3);
}

.border_r4 {
    border-right-width: var(--border_size4);
}

.border_r5 {
    border-right-width: var(--border_size5);
}

/* border top */
.border_t {
    border-top-width: var(--border_size);
}

.border_t1 {
    border-top-width: var(--border_size1);
}

.border_t2 {
    border-top-width: var(--border_size2);
}

.border_t3 {
    border-top-width: var(--border_size3);
}

.border_t4 {
    border-top-width: var(--border_size4);
}

.border_t5 {
    border-top-width: var(--border_size5);
}

/* border bottom */
.border_b {
    border-bottom-width: var(--border_size);
}

.border_b1 {
    border-bottom-width: var(--border_size1);
}

.border_b2 {
    border-bottom-width: var(--border_size2);
}

.border_b3 {
    border-bottom-width: var(--border_size3);
}

.border_b4 {
    border-bottom-width: var(--border_size4);
}

.border_b5 {
    border-bottom-width: var(--border_size5);
}

/* --------------------------------------------------- */


/* outline colors */
/* =================================================== */
.outline_primary {
    outline: solid var(--color_primary);
}

.outline_secondary {
    outline: solid var(--color_secondary);
}

.outline_warning {
    outline: solid var(--color_warning);
}

.outline_danger {
    outline: solid var(--color_danger);
}

.outline_success {
    outline: solid var(--color_success);
}

.outline_message {
    outline: solid var(--color_message);
}

.outline_info {
    outline: solid var(--color_info);
}

.outline_dark {
    outline: solid var(--color_dark);
}

.outline_light {
    outline: solid var(--color_light);
}

.outline_white {
    outline: solid var(--color_white);
}

.outline_blue1 {
    outline: solid var(--color_blue1);
}

.outline_blue2 {
    outline: solid var(--color_blue2);
}

.outline_blue3 {
    outline: solid var(--color_blue3);
}

.outline_royal {
    outline: solid var(--color_royal);
}

.outline_royal_light {
    outline: solid var(--color_royal_light);
}

.outline_royal_dark {
    outline: solid var(--color_royal_dark);
}

.outline_royal_red {
    outline: solid var(--color_royal_red);
}

.outline_royal_red_dark {
    outline: solid var(--color_royal_red_dark);
}

.outline_royal_green {
    outline: solid var(--color_royal_green);
}

.outline_royal_green_dark {
    outline: solid var(--color_royal_green_dark);
}

.outline_royal_blue {
    outline: solid var(--color_royal_blue);
}

.outline_royal_blue_dark {
    outline: solid var(--color_royal_blue_dark);
}

.outline_royal_yellow {
    outline: solid var(--color_royal_yellow);
}

.outline_royal_yellow_dark {
    outline: solid var(--color_royal_yellow_dark);
}

.outline_royal_orange {
    outline: solid var(--color_royal_orange);
}

.outline_royal_orange_dark {
    outline: solid var(--color_royal_orange_dark);
}

/* outline size */
.outline {
    outline-width: var(--border_size);
}

.outline1 {
    outline-width: var(--border_size1);
}

.outline2 {
    outline-width: var(--border_size2);
}

.outline3 {
    outline-width: var(--border_size3);
}

.outline4 {
    outline-width: var(--border_size4);
}

.outline5 {
    outline-width: var(--border_size5);
}

/* =================================================== */


/* margin */
/* --------------------------------------------------- */
.m {
    margin: var(--size0);
}

.m1 {
    margin: var(--size1);
}

.m2 {
    margin: var(--size2);
}

.m3 {
    margin: var(--size3);
}

.m4 {
    margin: var(--size4);
}

.m5 {
    margin: var(--size5);
}

.m6 {
    margin: var(--size6);
}

.m7 {
    margin: var(--size7);
}

.m8 {
    margin: var(--size8);
}

.m9 {
    margin: var(--size9);
}

.m10 {
    margin: var(--size10);
}

.m11 {
    margin: var(--size11);
}

.m12 {
    margin: var(--size12);
}

/* margin_left */
.ml {
    margin-left: var(--size0);
}

.ml1 {
    margin-left: var(--size1);
}

.ml2 {
    margin-left: var(--size2);
}

.ml3 {
    margin-left: var(--size3);
}

.ml4 {
    margin-left: var(--size4);
}

.ml5 {
    margin-left: var(--size5);
}

.ml6 {
    margin-left: var(--size6);
}

.ml7 {
    margin-left: var(--size7);
}

.ml8 {
    margin-left: var(--size8);
}

.ml9 {
    margin-left: var(--size9);
}

.ml10 {
    margin-left: var(--size10);
}

.ml11 {
    margin-left: var(--size11);
}

.ml12 {
    margin-left: var(--size12);
}

/* margin_right */
.mr {
    margin-right: var(--size0);
}

.mr1 {
    margin-right: var(--size1);
}

.mr2 {
    margin-right: var(--size2);
}

.mr3 {
    margin-right: var(--size3);
}

.mr4 {
    margin-right: var(--size4);
}

.mr5 {
    margin-right: var(--size5);
}

.mr6 {
    margin-right: var(--size6);
}

.mr7 {
    margin-right: var(--size7);
}

.mr8 {
    margin-right: var(--size8);
}

.mr9 {
    margin-right: var(--size9);
}

.mr10 {
    margin-right: var(--size10);
}

.mr11 {
    margin-right: var(--size11);
}

.mr12 {
    margin-right: var(--size12);
}

/* margin_top */
.mt {
    margin-top: var(--size0);
}

.mt1 {
    margin-top: var(--size1);
}

.mt2 {
    margin-top: var(--size2);
}

.mt3 {
    margin-top: var(--size3);
}

.mt4 {
    margin-top: var(--size4);
}

.mt5 {
    margin-top: var(--size5);
}

.mt6 {
    margin-top: var(--size6);
}

.mt7 {
    margin-top: var(--size7);
}

.mt8 {
    margin-top: var(--size8);
}

.mt9 {
    margin-top: var(--size9);
}

.mt10 {
    margin-top: var(--size10);
}

.mt11 {
    margin-top: var(--size11);
}

.mt12 {
    margin-top: var(--size12);
}

/* margin_bottom */
.mb {
    margin-bottom: var(--size0);
}

.mb1 {
    margin-bottom: var(--size1);
}

.mb2 {
    margin-bottom: var(--size2);
}

.mb3 {
    margin-bottom: var(--size3);
}

.mb4 {
    margin-bottom: var(--size4);
}

.mb5 {
    margin-bottom: var(--size5);
}

.mb6 {
    margin-bottom: var(--size6);
}

.mb7 {
    margin-bottom: var(--size7);
}

.mb8 {
    margin-bottom: var(--size8);
}

.mb9 {
    margin-bottom: var(--size9);
}

.mb10 {
    margin-bottom: var(--size10);
}

.mb11 {
    margin-bottom: var(--size11);
}

.mb12 {
    margin-bottom: var(--size12);
}

/* --------------------------------------------------- */


/* padding */
/* =================================================== */
.p {
    padding: var(--size0);
}

.p1 {
    padding: var(--size1);
}

.p2 {
    padding: var(--size2);
}

.p3 {
    padding: var(--size3);
}

.p4 {
    padding: var(--size4);
}

.p5 {
    padding: var(--size5);
}

.p6 {
    padding: var(--size6);
}

.p7 {
    padding: var(--size7);
}

.p8 {
    padding: var(--size8);
}

.p9 {
    padding: var(--size9);
}

.p10 {
    padding: var(--size10);
}

.p11 {
    padding: var(--size11);
}

.p12 {
    padding: var(--size12);
}

/* padding_left */
.pl {
    padding-left: var(--size0);
}

.pl1 {
    padding-left: var(--size1);
}

.pl2 {
    padding-left: var(--size2);
}

.pl3 {
    padding-left: var(--size3);
}

.pl4 {
    padding-left: var(--size4);
}

.pl5 {
    padding-left: var(--size5);
}

.pl6 {
    padding-left: var(--size6);
}

.pl7 {
    padding-left: var(--size7);
}

.pl8 {
    padding-left: var(--size8);
}

.pl9 {
    padding-left: var(--size9);
}

.pl10 {
    padding-left: var(--size10);
}

.pl11 {
    padding-left: var(--size11);
}

.pl12 {
    padding-left: var(--size12);
}

/* padding_right */
.pr {
    padding-right: var(--size0);
}

.pr1 {
    padding-right: var(--size1);
}

.pr2 {
    padding-right: var(--size2);
}

.pr3 {
    padding-right: var(--size3);
}

.pr4 {
    padding-right: var(--size4);
}

.pr5 {
    padding-right: var(--size5);
}

.pr6 {
    padding-right: var(--size6);
}

.pr7 {
    padding-right: var(--size7);
}

.pr8 {
    padding-right: var(--size8);
}

.pr9 {
    padding-right: var(--size9);
}

.pr10 {
    padding-right: var(--size10);
}

.pr11 {
    padding-right: var(--size11);
}

.pr12 {
    padding-right: var(--size12);
}

/* padding_top */
.pt {
    padding-top: var(--size0);
}

.pt1 {
    padding-top: var(--size1);
}

.pt2 {
    padding-top: var(--size2);
}

.pt3 {
    padding-top: var(--size3);
}

.pt4 {
    padding-top: var(--size4);
}

.pt5 {
    padding-top: var(--size5);
}

.pt6 {
    padding-top: var(--size6);
}

.pt7 {
    padding-top: var(--size7);
}

.pt8 {
    padding-top: var(--size8);
}

.pt9 {
    padding-top: var(--size9);
}

.pt10 {
    padding-top: var(--size10);
}

.pt11 {
    padding-top: var(--size11);
}

.pt12 {
    padding-top: var(--size12);
}

/* padding_bottom */
.pb {
    padding-bottom: var(--size0);
}

.pb1 {
    padding-bottom: var(--size1);
}

.pb2 {
    padding-bottom: var(--size2);
}

.pb3 {
    padding-bottom: var(--size3);
}

.pb4 {
    padding-bottom: var(--size4);
}

.pb5 {
    padding-bottom: var(--size5);
}

.pb6 {
    padding-bottom: var(--size6);
}

.pb7 {
    padding-bottom: var(--size7);
}

.pb8 {
    padding-bottom: var(--size8);
}

.pb9 {
    padding-bottom: var(--size9);
}

.pb10 {
    padding-bottom: var(--size10);
}

.pb11 {
    padding-bottom: var(--size11);
}

.pb12 {
    padding-bottom: var(--size12);
}

/* =================================================== */


/* border radius */
/* --------------------------------------------------- */
.rounded_sm {
    border-radius: 0.3rem;
}

.rounded_md {
    border-radius: 0.8rem;
}

.rounded_lg {
    border-radius: 1.5rem;
}

.rounded_circle {
    border-radius: 50%;
}

/* left top */
.rounded_sm_left_top {
    border-top-left-radius: 0.3rem;
}

.rounded_md_left_top {
    border-top-left-radius: 0.8rem;
}

.rounded_lg_left_top {
    border-top-left-radius: 1.5rem;
}

.rounded_circle_left_top {
    border-top-left-radius: 50%;
}

/* left bottom */
.rounded_sm_left_bottom {
    border-bottom-left-radius: 0.3rem;
}

.rounded_md_left_bottom {
    border-bottom-left-radius: 0.8rem;
}

.rounded_lg_left_bottom {
    border-bottom-left-radius: 1.5rem;
}

.rounded_circle_left_bottom {
    border-bottom-left-radius: 50%;
}

/* right top */
.rounded_sm_right_top {
    border-top-right-radius: 0.3rem;
}

.rounded_md_right_top {
    border-top-right-radius: 0.8rem;
}

.rounded_lg_right_top {
    border-top-right-radius: 1.5rem;
}

.rounded_circle_right_top {
    border-top-right-radius: 50%;
}

/* right bottom */
.rounded_sm_right_bottom {
    border-bottom-right-radius: 0.3rem;
}

.rounded_md_right_bottom {
    border-bottom-right-radius: 0.8rem;
}

.rounded_lg_right_bottom {
    border-bottom-right-radius: 1.5rem;
}

.rounded_circle_right_bottom {
    border-bottom-right-radius: 50%;
}

/* --------------------------------------------------- */


/* hr */
/* =================================================== */

.hr {
    border-bottom-width: 2px;
    opacity            : 0.8;
    border-style       : solid;
    margin-top         : 0.6em;
    margin-bottom      : 0.6em;
}

.hr1 {
    border-bottom-width: 3px;
    opacity            : 0.8;
    border-style       : solid;
    margin-top         : 0.6em;
    margin-bottom      : 0.6em;
}

.hr2 {
    border-bottom-width: var(--border_size2);
    opacity            : 0.8;
    border-style       : solid;
    margin-top         : 0.6em;
    margin-bottom      : 0.6em;
}

/* =================================================== */


/* shadow */
/* --------------------------------------------------- */

.shadow {
    box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075);
}

.shadow_sm {
    box-shadow: 0 .2rem .4rem rgba(0, 0, 0, .1);
}

.shadow_md {
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
}

.shadow_lg {
    box-shadow: 0 .7rem 2rem rgba(0, 0, 0, .15);
}

.shadow_xl {
    box-shadow: 0 1.2rem 3rem rgba(0, 0, 0, .2);
}

/* --------------------------------------------------- */

/*

todo: 

button click effects
text shadow
shadow

responsive tables
responsive navbar

*/