@import url('https://fonts.googleapis.com/css?family=Cantarell|Cuprum|Orbitron|Sacramento|Jost|Courgette|Monda|ABeeZee|Rajdhani|Asap|Overpass|Questrial|Padauk|Comfortaa|Quicksand|Sofia|Ubuntu|Nunito|Titillium WebExo 2|Cormorant Garamond|Slabo 27px|Hind Madurai|Maven Pro|Barlow Semi Condensed|Ubuntu Condensed|Alegreya Sans|Baloo 2|Balsamiq Sans|Saira Condensed|Kaushan Script|Lobster Two|IBM Plex Mono|Chakra Petch|Asap Condensed&effect=fire|neon|outline|emboss|shadow-multiple|fire-animation|3d|3d-float|anaglyph');

/* font */
/* --------------------------------------------------- */
.font1 {
    font-family: 'Cantarell' !important;
}

.font2 {
    font-family: 'Cuprum' !important;
}

.font3 {
    font-family: 'Orbitron' !important;
}

.font4 {
    font-family: 'Sacramento' !important;
}

.font5 {
    font-family: 'Jost' !important;
}

.font6 {
    font-family: 'Courgette' !important;
}

.font7 {
    font-family: 'Monda' !important;
}

.font8 {
    font-family: 'ABeeZee' !important;
}

.font9 {
    font-family: 'Rajdhani' !important;
}

.font10 {
    font-family: 'Asap' !important;
}

.font11 {
    font-family: 'Overpass' !important;
}

.font12 {
    font-family: 'Questrial' !important;
}

.font13 {
    font-family: 'Padauk' !important;
}

.font14 {
    font-family: 'Comfortaa' !important;
}

.font15 {
    font-family: 'Quicksand' !important;
}

.font16 {
    font-family: 'Sofia' !important;
}

.font17 {
    font-family: 'Ubuntu' !important;
}

.font18 {
    font-family: 'Nunito' !important;
}

.font19 {
    font-family: 'Titillium WebExo 2' !important;
}

.font20 {
    font-family: 'Cormorant Garamond' !important;
}

.font21 {
    font-family: 'Slabo 27px' !important;
}

.font22,
.font {

    font-family: 'Hind Madurai' !important;
}

.font23 {
    font-family: 'Maven Pro' !important;
}

.font24 {
    font-family: 'Barlow Semi Condensed' !important;
}

.font25 {
    font-family: 'Ubuntu Condensed' !important;
}

.font26 {
    font-family: 'Alegreya Sans' !important;
}

.font27 {
    font-family: 'Baloo 2' !important;
}

.font28 {
    font-family: 'Balsamiq Sans' !important;
}

.font29 {
    font-family: 'Saira Condensed' !important;
}

.font30 {
    font-family: 'Kaushan Script' !important;
}

.font31 {
    font-family: 'Lobster Two' !important;
}

.font32 {
    font-family: 'IBM Plex Mono' !important;
}

.font33 {
    font-family: 'Chakra Petch' !important;
}

.font34 {
    font-family: 'Asap Condensed' !important;
}

/* --------------------------------------------------- */