@import url('https://fonts.googleapis.com/css?family=Ubuntu');

.btnOutline {
    display        : inline-block;
    text-decoration: none;
    color          : #333;
    font-size      : 1.3rem;
    border         : 2.5px solid #333;
    padding        : 0.5rem 1rem;
    font-family    : 'Ubuntu';
    border-radius  : 2.5px;
    transition     : all 250ms;
    position       : relative;
    cursor         : pointer;
    overflow       : hidden;
    text-align     : center;
    vertical-align : middle;
    background     : #00000011;

}

.btnOutline:hover {
    background-color: #333;
    color           : #fff;
}

.btnOutline:focus {
    outline   : none;
    box-shadow: 0 0 0.5px 2.5px #333333aa;
}

.btnOutline:active {
    background-color: #000;
}

.btnOutline .ripple {
    position        : absolute;
    background-color: #fff;
    transform       : translate(-50%, -50%);
    pointer-events  : none;
    animation       : ripple 1500ms;
    border-radius   : 10% 50%;
    border-radius   : 50% 10%;
}

@keyframes ripple-r {
    from {
        width  : 0px;
        height : 0px;
        opacity: 0.5;
    }

    to {
        width  : 500px;
        height : 500px;
        opacity: 0;
    }
}

@keyframes ripple {
    from {
        width  : 0px;
        height : 0px;
        opacity: 0.5;
    }

    to {
        width  : 500px;
        height : 500px;
        opacity: 0;
    }
}