@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;700&display=swap");

* {
    margin    : 0;
    padding   : 0;
    box-sizing: border-box;
}

body {
    background-color: #131316;
    color           : aliceblue;
    font-family: "Poppins", sans-serif;
}

h1 {
    text-align: center;
    padding: 5rem 0;
}

section {
    display        : flex;
    align-items    : center;
    justify-content: center;
    min-height     : 100vh;
    flex-direction : column;
}

.hidden{
    opacity: 0;
    transition: all 1.5s .5s ease-in-out;
    filter: blur(5px);
}

.show{
    opacity: 1;
    filter: blur(0px);

}